apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: {{ .Values.kafka.name }}
  namespace: {{ .Release.Namespace }}
spec:
  kafka:
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2
      inter.broker.protocol.version: "3.6"
    version: {{ .Values.kafka.version }}
    logging:
      type: inline
      loggers:
        kafka.root.logger.level: "WARN"
    resources:
{{ toYaml .Values.kafka.resources | indent 6 }}
    replicas: {{ .Values.kafka.replicas }}
    readinessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    livenessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    listeners:
      {{- range $listeners := .Values.kafka.listeners }}
      - name: {{ $listeners.name }}
        port: {{ $listeners.port }}
        type: {{ $listeners.type }}
        tls: {{ $listeners.tls }}
        {{- if $listeners.authentication }}
        authentication:
          type: {{ $listeners.authentication.type }}
        {{- end -}}
        {{- if eq $listeners.type "ingress" }}
        configuration:
{{ toYaml $listeners.configuration | indent 10 }}
        {{- end }}
      {{- end }}
    storage:
      type: {{ .Values.kafka.storage.type }}
      size: {{ .Values.kafka.storage.size }}
      deleteClaim:  {{ .Values.kafka.storage.deleteClaim }}
    config:
      offsets.topic.replication.factor: {{ .Values.kafka.replicas }}
      transaction.state.log.replication.factor: {{ .Values.kafka.replicas }}
      transaction.state.log.min.isr: {{ sub .Values.kafka.replicas 1 }}
      auto.create.topics.enable: true
  {{- if contains "prod" .Release.Namespace }}
    jvmOptions:
      -Xms: {{ .Values.kafka.jvmOptions.xmx }}
      -Xmx: {{ .Values.kafka.jvmOptions.xms }}
      -XX:
        MetaspaceSize: {{ .Values.kafka.jvmOptions.metaspaceSize }}
        MaxGCPauseMillis: {{ .Values.kafka.jvmOptions.maxGCPauseMillis }}
        InitiatingHeapOccupancyPercent: {{ .Values.kafka.jvmOptions.initiatingHeapOccupancyPercent }}
        G1HeapRegionSize: {{ .Values.kafka.jvmOptions.g1HeapRegionSize }}
        MinMetaspaceFreeRatio: {{ .Values.kafka.jvmOptions.minMetaspaceFreeRatio }}
        MaxMetaspaceFreeRatio: {{ .Values.kafka.jvmOptions.maxMetaspaceFreeRatio }}
        UseG1GC: {{ .Values.kafka.jvmOptions.useG1GC}}
  {{- end }}

  zookeeper:
    logging:
      type: inline
      loggers:
        zookeeper.root.logger: "WARN"
    replicas: {{ .Values.zookeeper.replicas }}
    readinessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    livenessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    storage:
      type: {{ .Values.zookeeper.storage.type }}
      size: {{ .Values.zookeeper.storage.size }}
      deleteClaim: {{ .Values.zookeeper.storage.deleteClaim }}
    resources:
{{ toYaml .Values.zookeeper.resources | indent 6 }}
  entityOperator:
    topicOperator: {}
    userOperator: {}
  kafkaExporter:
    topicRegex: ".*"
    groupRegex: ".*"
